[Unit]
Description=Bluetooth AVRCP Volume Watcher Agent
After=bluetooth.service
PartOf=bluetooth.service

[Service]
Type=simple
KillSignal=SIGTERM
ExecStart=/usr/local/bin/avrcp_volume_watcher.py

[Install]
WantedBy=default.target
