[Unit]
Description=Connect to phone
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bluetoothctl connect `cat /root/.btmac`

[Install]
WantedBy=multi-user.target