[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target
Requires=local-fs.target

[Service]
ExecStart=/usr/bin/fim -d /dev/fb0 -q /root/splash_image.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
