[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -t 3 -1 /root/splash_img.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
